<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f

    RewriteRule .+ - [L]
    RewriteRule ^(.*)(\?.*)?|$ index.php?query=$1&$2 [QSA,L]
</IfModule>